{% extends 'base.html.twig' %}

{% block body %}
    <h1>Carteabonnee</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carteAbonnee.id }}</td>
            </tr>
            <tr>
                <th>Codecarte</th>
                <td>{{ carteAbonnee.codeCarte }}</td>
            </tr>
            <tr>
                <th>Dateabonnement</th>
                <td>{% if carteAbonnee.dateAbonnement %}{{ carteAbonnee.dateAbonnement|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('carteabonnee_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('carteabonnee_edit', { 'id': carteAbonnee.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
