{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="x_title">Patient Detail</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ path('patient_index') }}">Patient</a></li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </div>
    </div>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>Nomcomplet</th>
                <td>{{ patient.nomComplet }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ patient.adresse }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ patient.telephone }}</td>
            </tr>
            <tr>
                <th>Numdossier</th>
                <td>{{ patient.numDossier }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ patient.sexe }}</td>
            </tr>
            <tr>
                <th>Datenaissance</th>
                <td>{% if patient.dateNaissance %}{{ patient.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
{#
    <ul>
        <li>
            <a href="{{ path('patient_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('patient_edit', { 'id': patient.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>#}

    <div class="row m-md-2">
        <a class="btn btn-dark" href="{{ path('patient_index') }}"><i class="fa fa-arrow-left"></i>Back to the list</a>
        <div class="col-md-3">
            <a class="btn btn-outline-success" href="{{ path('patient_edit', { 'id': patient.id }) }}"><i class="fa fa-edit"></i>edit</a>

        </div>

    </div>
{% endblock %}
