{% extends 'base.html.twig' %}

{% block body %}
    <h1>Factureordonances list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for factureOrdonance in factureOrdonances %}
            <tr>
                <td><a href="{{ path('factureordonance_show', { 'id': factureOrdonance.id }) }}">{{ factureOrdonance.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('factureordonance_show', { 'id': factureOrdonance.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('factureordonance_edit', { 'id': factureOrdonance.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('factureordonance_new') }}">Create a new factureOrdonance</a>
        </li>
    </ul>
{% endblock %}
