{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="x_title">Crenneaux Detail</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ path('creneauxmedecin_index') }}">Creneau Medecin</a></li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </div>
    </div>

    <table class="table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creneauxMedecin.id }}</td>
            </tr>
            <tr>
                <th>Codecrenneaux</th>
                <td>{{ creneauxMedecin.codeCrenneaux }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{% if creneauxMedecin.heureDebut %}{{ creneauxMedecin.heureDebut|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{% if creneauxMedecin.heureFin %}{{ creneauxMedecin.heureFin|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="row m-md-2">
        <a class="btn btn-dark" href="{{ path('creneauxmedecin_index') }}"><i class="fa fa-arrow-left"></i>Back to the list</a>
        <div class="col-md-3">
            <a class="btn btn-outline-success" href="{{ path('creneauxmedecin_edit', { 'id': creneauxMedecin.id }) }}"><i class="fa fa-edit"></i>edit</a>

        </div>

    </div>
{% endblock %}
