{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creneauxmedecin</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creneauxMedecin.id }}</td>
            </tr>
            <tr>
                <th>Codecrenneaux</th>
                <td>{{ creneauxMedecin.codeCrenneaux }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{% if creneauxMedecin.heureDebut %}{{ creneauxMedecin.heureDebut|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{% if creneauxMedecin.heureFin %}{{ creneauxMedecin.heureFin|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('creneauxmedecin_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('creneauxmedecin_edit', { 'id': creneauxMedecin.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
