{% extends 'base.html.twig' %}

{% block body %}
    <h1>Caisses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Dateouverture</th>
                <th>Datefermeture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caisse in caisses %}
            <tr>
                <td><a href="{{ path('caisse_show', { 'id': caisse.id }) }}">{{ caisse.id }}</a></td>
                <td>{{ caisse.code }}</td>
                <td>{% if caisse.dateOuverture %}{{ caisse.dateOuverture|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if caisse.dateFermeture %}{{ caisse.dateFermeture|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('caisse_show', { 'id': caisse.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('caisse_edit', { 'id': caisse.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('caisse_new') }}">Create a new caisse</a>
        </li>
    </ul>
{% endblock %}
