{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1 class="x_title">Rendez-Vous Edit</h1>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{{ path('rv_index') }}">Rendez-Vous</a></li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
        </div>
    </div>

 {#   <form action="{{ path('rv_new') }}" method="post" class="form-horizontal form-label-left">


        {{ form_errors(edit_form) }}

        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_label(edit_form.dateRendezVous, "date RendezVous") }}
            </div>
            {{ form_errors(edit_form.dateRendezVous) }}
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_widget(edit_form.dateRendezVous) }}
            </div></div>
        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_label(edit_form.creneauxMedecin, "codeCrenneaux") }}</div>

            {{ form_errors(edit_form.creneauxMedecin) }}
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_widget(edit_form.creneauxMedecin) }}
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_label(edit_form.patient, "patient") }}</div>

            {{ form_errors(edit_form.patient) }}
            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                {{ form_widget(edit_form.patient) }}
            </div>
        </div>

        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
        {{ form_rest(edit_form) }}

    </form>#}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" value="Create" class="btn btn-success"/>
    {{ form_end(edit_form) }}
    <div class="row m-md-2">
        <a class="btn btn-dark" href="{{ path('rv_index') }}"><i class="fa fa-arrow-left"></i>Back to the list</a>
    </div>
{% endblock %}
