{% extends 'base.html.twig' %}

{% block body %}
    <h1>Resultatanalyse</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resultatAnalyse.id }}</td>
            </tr>
            <tr>
                <th>Descriptionresultat</th>
                <td>{{ resultatAnalyse.descriptionResultat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('resultatanalyse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('resultatanalyse_edit', { 'id': resultatAnalyse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
