{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultations list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateprescription</th>
                <th>Daterealisation</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation in consultations %}
            <tr>
                <td><a href="{{ path('consultation_show', { 'id': consultation.id }) }}">{{ consultation.id }}</a></td>
                <td>{% if consultation.datePrescription %}{{ consultation.datePrescription|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if consultation.dateRealisation %}{{ consultation.dateRealisation|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ consultation.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('consultation_show', { 'id': consultation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('consultation_edit', { 'id': consultation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultation_new') }}">Create a new consultation</a>
        </li>
    </ul>
{% endblock %}
